<html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Create Tool</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap Css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        [x-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<div class="main-content" style="margin-left:5%;margin-right:5%">

    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card" style="padding:3%">
                        <div class="row">
                            <div class="col-md-3"> 
                                <h4 class="card-title mb-4" style="font-size:28px">Create Tool</h4>
                            </div>
                            <div class="col-md-6 offset-md-3" style="text-align:right">
                                <form action="/" method="get">
                                    <button class="btn btn-dark" type="submit">Home</button>
                                </form>
                                <form action="/tool-crud" method="get">
                                    <button class="btn btn-primary" type="submit">CRUD</button>
                                </form>
                            </div>
                        </div>
                            <form action="/tool-create" method="POST">
                                <table id="myTable" class=" table order-list">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Namespace</th>
                                        <th>Type</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="col-sm">
                                                <input required type="text" id="name" name="name" class="form-control" value="Use Default">
                                            </td>
                                            <td class="col-sm">
                                                <input required type="text" id="description" name="description" class="form-control" value="Use Default">
                                            </td>
                                            <td class="col-sm">
                                                <select required id="namespace" name="namespace" class="form-select" value="">
                                                    {%for namespace in namespaces%}
                                                        <option value="{{namespace[0]}}">{{namespace[0]}}</option>
                                                    {%endfor%}
                                                </select>
                                            </td>
                                            <td class="col-sm">
                                                <select required id="type" name="type" class="form-select" value="">
                                                    <option value="Upsert">Upsert</option>
                                                    <option value="Retrieval">Retrieval</option>
                                                </select>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="5" style="text-align: left;">
                                            <button type="submit" class="btn btn-lg btn-block btn-primary" id="saveBtn">Submit</button>
                                        </td>
                                    </tr>
                                    <tr>
                                    </tr>
                                    </tfoot>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
</div>
</body>
</html>
